{% extends 'base.html.twig' %}

{% block title %}Client particulier : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Modification : {{particulier.nom}} {{particulier.prenom}}</h2>
            <hr>
            <a href="/customer/disable/{{particulier.id}}"><button type="button" class="btn btn-secondary">Désactiver le client</button></a>
            <hr>
            {% include "_partials/_flash.html.twig"%}
            {% include "client/customer/_form.html.twig" with {'button_label': 'Modifier les données du client'} %}
        </div>
    </section>
</main> 

    

{% endblock %}