{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Assistant de création de facture</h2>
            <hr>
            {# {% include "_partials/_flash.html.twig"%}#}
            {% include "facture/_partials/_form/_form_recap.html.twig"%} 
        </div>
    </section>
</main>

    

    

{% endblock %}