{% extends 'base.html.twig' %}

{% block title %}Matériaux : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Modification : {{materiaux.Designation}}</h2>
            <hr>
            {% include "materiaux/_form.html.twig" with {'button_label': 'Modifier'} %}
        </div>
    </section>
</main> 

    

{% endblock %}