{% extends 'base.html.twig' %}

{% block title %}TVA : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Modification : {{tva.Libelle}}</h2>
            <hr>
            <a href="/configuration"><button type="button" class="btn btn-info">Retour</button></a>
            <hr>
            {% include "_partials/_flash.html.twig"%}
            {% include "configuration/TVA/_form.html.twig" with {'button_label': 'Modifier les données de la TVA'} %}
        </div>
    </section>
</main> 

    

{% endblock %}