{% extends 'base.html.twig' %}

{% block title %}Client professionnel : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Créer un nouveau client</h2>
            <hr>
            {% include "_partials/_flash.html.twig"%}
            {% include "client/professional/_form.html.twig"%}
        </div>


    </section>
</main>

    

    

{% endblock %}