.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

#principal {
    margin-top: 20px;
}

#filtreprix{
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    padding-left: 5px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 1px;
  }

  .main {
    margin-left: 350px; /* Same as the width of the sidenav */
  }
  
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }