{% extends 'base.html.twig' %}

{% block title %}Modèle de pièce : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Ajouter une nouveau modèle de pièce</h2>
            <hr>
            {% include "_partials/_flash.html.twig"%}
            {% include "configuration/modelepiece/_form.html.twig"%}
        </div>
    </section>
</main>

    

    

{% endblock %}